{% extends "home/base.html" %}

{% block title %} Index {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h3 class="text-danger" style="margin-top: 0; margin-bottom: 40px;">成绩排名：</h3>
    </div>
    {% for info in infos %}
    <div class="col-md-1">
    <h4 class="text-success">[ {{ loop.index }} ]</h4>
    </div>
    <div class="col-md-5">
        <table class="table table-bordered" style="text-align: center">
            <tr>
                <td class="text-warning">姓名</td>
                <td class="text-primary">{{ info.realName }}</td>
            </tr>
            <tr>
                <td class="text-warning">C成绩</td>
                <td class="text-primary">{{ info.oneScore if not info.oneScore == -1 else '未填写' }}</td>
            </tr>
            <tr>
                <td class="text-warning">C++成绩</td>
                <td class="text-primary">{{ info.twoScore if not info.twoScore == -1 else '未填写' }}</td>
            </tr>
            <tr>
                <td class="text-warning">Python成绩</td>
                <td class="text-primary">{{ info.threeScore if not info.threeScore == -1 else '未填写'}}</td>
            </tr>
            <tr>
                <td class="text-warning">平均成绩</td>
                <td class="text-primary">{{ round(info.avgScore,2) if not info.avgScore == -1 else '未填写' }}</td>
            </tr>
        </table>
    </div>

    {% endfor %}
{% endblock %}
