{% extends "home/base.html" %}

{% block title %} Index {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h3 class="text-danger" style="margin-top: 0; display: inline">成绩排名：</h3>
        <a href="{{ url_for('home.order') }}"><button class="btn btn-success" style="float: right;">科目排名</button></a>
    <table class="table">
        <tr>
            <th>排名</th>
            <th>头像</th>
            <th>姓名</th>
            <th>C</th>
            <th>C++</th>
            <th>Python</th>
            <th>平均分</th>
        </tr>
        {% for info in infos %}
            <tr>
                <td>{{ loop.index+(pagination.page-1)*pagination.per_page }}</td>
                <td><img src="{{ info.img }}" alt="img" width="30px" height="30px"></td>
                <td>{{ info.realName }}</td>
                <td>{{ info.oneScore if not info.oneScore == -1 else '未填写' }}</td>
                <td>{{ info.twoScore if not info.twoScore == -1 else '未填写' }}</td>
                <td>{{ info.threeScore if not info.threeScore == -1 else '未填写'}}</td>
                <td>{{ round(info.avgScore,2) if not info.avgScore == -1 else '未填写' }}</td>
            </tr>

        {% endfor %}
    </table>
    </div>



    <ul class="pagination" style="margin-left: 40%;">
    <li>
        {% if infos %}
        <a href="{{ url_for('home.index',page=pagination.page-1) if pagination.has_prev else '#' }}" aria-label="Previous">
             <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
    </li>

    {% for p in pagination.iter_pages() %}
        <li>
            <a href="{{ url_for('home.index',page=p) }}">{{ p }}</a>
        </li>
    {% endfor %}
    <li>
        {% if infos %}
        <a href="{{ url_for('home.index',page=pagination.page+1) if pagination.has_next else '#'}}" aria-label="Next" >
             <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}
    </li>
    </ul>
{% endblock %}
